@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html, #root {
  min-height: 100% !important;
  height: 100%;
}

.ant-btn-primary {
  background-color: #1677ff;
}

.anticon {
  vertical-align: 2px !important;
}

.ant-message-custom-content {
      display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.ant-float-btn-default{
background-color: #fff !important;
}

.btn {
  background-color: transparent !important;
  color: #d32f2f !important;
  border-color: #d32f2f !important;
}
.btn-active {
  background-color: #d32f2f !important;
  color: #fff !important;
}
.btn-active:disabled {
  opacity: 0.65;
}

.ant-timeline-item-last {
  padding-bottom: 0 !important;
}
.ant-timeline-item-last div {
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}

.ant-ribbon-wrapper {
  width: 100% !important;
}

.ant-card-cover {
  max-width: 300px;
  height: 200px;
  overflow: hidden;
}
.ant-card-cover img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ant-card-body {
  height: 60px;
  display: flex;
  align-items: center;
}
.ant-card-body .ant-card-meta-description {
  color: rgba(0, 0, 0, 0.88) !important;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ant-float-btn-group-wrap button {
  border: 1px #d32f2f solid;
}

.ant-tabs-tab:hover {
  color: #d32f2f !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #d32f2f !important;
}

.ant-tabs-ink-bar {
  background: #d32f2f !important;
}

#recipe-entry .ant-space-item, #recipe-edit .ant-space-item {
  width: 100%;
  text-align: center;
}

#recipe-entry .ant-space-item:nth-child(2) .ant-form-item:nth-child(7) .ant-col:nth-child(2) {
  flex: 1 1 210px !important;
}

#recipe-edit {
  padding: calc(8px + 1.5625vw);
}

#recipe-edit form .ant-form-item:nth-child(7) .ant-col:nth-child(2) {
  flex: 1 1 230px;
}

.dog-head {
  animation: head-move 1s ease-in-out infinite;
}

@keyframes head-move {
  50% {
    transform: rotate(-10.5deg);
  }
}

/* .w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.m-0 {
  margin: 0 !important;
} */

/* .mb-0 {
  margin-bottom: 0 !important;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-between {
  justify-content: space-between;
} */

/* .text-gray {
  color: rgba(0, 0, 0, 0.6);
} */

/* .App {
  min-height: 100%;
} */

/* #navbar {
  z-Index: 1;
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* #navbar h1, #navbar h3 {
  margin: 5px;
} */
/* #navbar div {
  display: flex;
  flex-direction: row;
  align-items: center;
} */
/* #navbar div .welcome {
  margin: 8px 8px 0 0;
} */
/* #navbar div .welcome button {
  padding-right: 10px;
} */
/* #navbar div #avatar {
  background-color: #707597;
  vertical-align: middle;
} */
/* #navbar div img {
  margin-left: 5px;
} */

/* #footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-Index: 1;
  background-color: #fff;
  border-top: 1px solid #d32f2f;
  text-align: center;
  padding: 10px;
} */

/* .log-in-title {
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
} */

/* .login-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
} */

/* .dog-image {
  justify-content: flex-end;
  height: 100%;
}
.dog-image img {
  max-height: 100%;
} */

/* #catalog-layout {
  min-height: 100%;
  padding-bottom: 50px;
} */
/* #catalog-layout .sort {
  max-width: 100%;
  width: 200px;
} */

/* #recipe-layout {
  width: 100%;
  padding-top: 0;
  padding-bottom: 15px;
} */

/* .recipe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */
/* .recipe-content h2 {
  text-align: center;
} */
/* .recipe-content .btn-back {
  position: absolute;
  inset: 5px 100% 100% 5px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .img-col {
  position: relative;
} */
/* .img-col img {
  max-height: 550px;
  max-width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
} */
/* .img-col .gradient {
  position: absolute;
  background-image: linear-gradient(transparent, #f5f5f5);
  inset: 40% 0 0 0;
} */

/* .shadow {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
} */

/* .recipe-div {
  width: 100%;
}
.recipe-div img {
  max-height: 550px;
  max-width: 100%;
  border-radius: 8px;
} */
/* .recipe-div-actions {
  justify-content: space-around !important;
  margin-bottom: 1em;
} */
/* .recipe-div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.recipe-div div button {
  margin-bottom: 1em;
} */

/* .ant-tag {
  margin-top: 4px;
  margin-bottom: 4px;
} */

/* .tag-input {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 8px;
  vertical-align: top;
} */

/* #new-tag-form {
  display: flex;
} */
/* #new-tag-form .tag-input {
  margin-top: 4px;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
} */
/* #new-tag-form .btn-active {
  margin-top: 4px;
  height: 24px;
  padding: 0 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} */

/* #recipe-entry img, #recipe-edit img {
  margin: 0 auto 15px auto;
  width: 225px;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
} */

/* #recipe-entry .ant-space-item:nth-child(2) .ant-form-item:nth-child(7) .ant-col:nth-child(2) {
  flex: 1 1 210px !important;
} */

/* #new-note-textarea {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#new-note-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} */

/* #error-page {
  height: 100%;
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* .dog-head {
  animation: head-move 1s ease-in-out infinite;
} */
/* .dog-loader .dog-head img {
  width: 100%;
  height: 100%;
} */
/* .dog-loader .dog-body {
  height: 100%;
  width: 100%;
  margin: -62px auto 10px auto;
  /* background-image: url("/static/graphics/dog-body-md.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */

/* .dog-loader-p {
  text-align: center;
} */

/* @keyframes head-move {
  50% {
    transform: rotate(-10.5deg);
  }
} */
/*# sourceMappingURL=index.css.map */